<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinmiao.back.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.xinmiao.back.domain.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_passwd" jdbcType="VARCHAR" property="userPasswd" />
    <result column="user_wx" jdbcType="VARCHAR" property="userWx" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
    <result column="user_icon" jdbcType="VARCHAR" property="userIcon" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    user_id, user_name, user_passwd, user_wx, user_type,user_icon
  </sql>
</mapper>